<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <h1>About Me</h1>
    <h2>My Name</h2>
        <p>Hello, my name is Jake Holland!</p>

    <!--Section about rubber ducks-->
    <h2>Hobby</h2>
    <p>I enjoy collecting <strong>rubber ducks</strong>! This page is dedicated to learning more about
        my <strong>rubber duck</strong> collection. The below <em>list</em> tells you the 3 most common colors
        used on rubber ducks...</p>
    <ul>
        <li>Yellow</li>
        <li>Orange</li>
        <li>Black</li>
    </ul>

    <p>It's also important to talk about the best size of rubber ducks. As you might be able to guess,
        the bigger the better. The below <em>list</em> tells you the 3 best sizes for rubber ducks...</p>

    <ol>
        <li>Gigantic</li>
        <li>Large</li>
        <li>Regular</li>
    </ol>

    <h2>Courses I Have Taken</h2>
    <!--Section about courses taken-->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2022</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2023</td>
        </tr>
    </table>

    <h2>Other Cool Things</h2>
    <p>Click <a href="/hello">here</a> to access the hello page</p>
    <p>My favorite websites are <a href="https://www.w3schools.com/html/" target="_blank">W3Schools</a> and
        <a href="https://www.google.com/">Google</a>.</p>

    <!--This is the Smith School logo-->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="400" height="175">


</body>
</html>